@tailwind base;
@tailwind components;
@tailwind utilities;

[data-theme="dark"] body {
  background-color: black;
}



.Toastify__progress-bar--success {
  background: #fff;

}

.Toastify__close-button {
  color: white;
}


.small-loader {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}