@tailwind base;
@tailwind components;
@tailwind utilities;

[data-theme="dark"] body {
  background-color: black;
}

.Toastify__progress-bar--success {
  background: #fff;
}

.Toastify__close-button {
  color: white;
}

video::-webkit-media-controls-fullscreen-button {
  display: none;
}

video::-moz-controls {
  display: none;
}

.small-loader {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.icon-flipped {
  transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
}
